#clock {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 50px auto;
  font-size: 24px;
  border: 20px solid #000000;
  border-radius: 50%;
}

#clock::before {
  content: "";
  position: absolute;
  transform-origin: 50% 100%;
  top: 45%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #848484;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 1000;
}

.hour-line,
.minute-line,
.second-line {
  position: absolute;
  transform-origin: 50% 100%;
  padding-bottom: 20%;
  left: 50%;
}
.hour-line {
  position: absolute;
  width: 6px;
  height: 60px;
  top: 90px;
  color: red;
}
.minute-line {
  width: 4px;
  height: 80px;
  top: 40px;
  color: blue;
}
.second-line {
  width: 2px;
  height: 100px;
  top: 25px;
  color: green;
}
